<h1><%= page_title %></h1>

<div class="row">

  <div class="col-3">
    <list-group>
      <%= link_to 'Inbox', messages_inbox_path, class: 'list-group-item' %>
      <%= link_to 'Sent', messages_sent_path, class: 'list-group-item' %>
      <%= link_to 'Drafts', messages_drafts_path, class: 'list-group-item' %>
    </list-group>
  </div>

  <div class="col-9">
    <p>
      <button aria-controls="new_message" aria-expanded="false" class="btn btn-primary" data-target="#new_message" data-toggle="collapse" type="button">
        New message
      </button>
      <div class="collapse" id="new_message">
        <div class="card card-block">
          <%= render 'messages/form', message: @message %>
        </div>
      </div>
    </p>
    <% if @messages.any? %>
      <div class="list-group">
        <% @messages.each do |message| %>
          <%= link_to message, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= message.title %></h5>
              <small>
                <%= "#{message.sender.first_name}, #{time_ago_in_words(message.created_at)} ago" %>
              </small>
            </div>
            <p class="mb-1"><%= raw message.content %></p>
          <% end %>
        <% end %>
      </div>
     <% else %>
       <div class="jumbotron text-center">
         <h3>There are no messages yet!</h3>
       </div>
     <% end %>
  </div>

</div>
