<h1>All messages</h1>

<div class="row">

  <div class="col-3">
    <list-group>
      <a class="list-group-item" href="#">Sent messages</a>
      <a class="list-group-item" href="#">Received messages</a>
      <a class="list-group-item" href="#">Drafts</a>
    </list-group>
  </div>

  <div class="col-9">
    <p>
      <button aria-controls="new_message" aria-expanded="false" class="btn btn-primary" data-target="#new_message" data-toggle="collapse" type="button">
        New message
      </button>
      <div class="collapse" id="new_message">
        <div class="card card-block">
          <%= render 'form', message: @message %>
        </div>
      </div>
    </p>

    <div class="list-group">
      <% @messages.each do |message| %>
        <%= link_to message, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= message.title %></h5>
            <small>
              <%= "#{message.sender.first_name}, #{time_ago_in_words(message.created_at)} ago" %>
            </small>
          </div>
          <p class="mb-1"><%= message.content %></p>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
