<div class="row mt-4">

  <div class="col-3">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-9">
    <h1><%= page_title %></h1>

    <% if current_page?(messages_inbox_path) || current_page?(root_path) %>
      <%= render 'messages/form', message: @message %>
    <% end%>

    <%= render 'messages/filter_form'%>

    <div id="messages">
      <%= render 'messages/messages_list' %>
    </div>

  </div>

</div>
