<div class="row mt-4">

  <div class="col-3">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-9">
    <h1><%= page_title %></h1>
    <p>
      <button aria-controls="new_message" aria-expanded="false" class="btn btn-primary" data-target="#new_message" data-toggle="collapse" type="button">
        New message
      </button>
      <div class="collapse" id="new_message">
        <div class="card card-block">
          <%= render 'messages/form', message: @message %>
        </div>
      </div>
    </p>

    <%= render 'messages/filter_form'%>

    <div id="messages"><%= render 'messages/messages_list' %></div>
  </div>

</div>
