<div class="row mt-4">

  <div class="col-3">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-9">
    <h1><%= page_title %></h1>

    <% if current_page?(messages_inbox_path) || current_page?(root_path) %>
      <%= render 'messages/form', message: @message %>
    <% end%>

    <%= render 'messages/filter_form'%>

    <div id="messages">
      <div class="list-group" id=("recipient_#{current_user.id}")>
        <% if @messages.any? %>
          <%= render partial: 'messages/message', collection: @messages, as: :message %>
          <div id="infinite_scroll" class="text-center">
            <%= will_paginate @messages %>
          </div>
        <% else %>
          <div class="jumbotron text-center">
            <h3>There are no messages!</h3>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
